
  @import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');

  *{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'DynaPuff', cursive;
  }

  body{
    background-color:black;
  }

  h1,h3,p,a{
    color: whitesmoke;
    text-decoration: none;
  }

  ul{
    list-style-type: none;  
}

.btn{
  text-transform: uppercase;
  border: 1px solid rgb(231, 225, 225) ;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  background: rgba(75, 188, 208, 0.8);
}

.btn-light{
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 15px 32px;
}
.btn:hover{
  background:rgba(255,255,255,0.2);
  color: white;
  transition: 0.4s;
}

